@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.App {
  width: 100%;
  min-width: 300px;
  height: 150px;
  min-height: 150px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url("../public/bg.png");
  background-size: auto; */
}

/*WidgetBase-settings*/

 .container {
  width: 600px;
  height: 140px;
  background-color: #f86c02;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 1px black;
  display: flex;
  overflow: hidden;
}

/*Brand-settings*/

.logoContainer {
  width: 300px;
  height: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%)
             translateY(-25%)
             scale(150%);
  border-radius: 50%;
  box-shadow: 1px 1px 3px 1px rgb(154, 91, 2);
}

.logoContainer img {
  width: 25%;
  transform: translate(80%);
}   

.socialContainer{
  width: 50%;
  display: flex;
  align-items: center;
  transform: translate(-15%);
  }

#title {
  flex: 1;
}

.cont1{
  flex: 2;
}


/*======================================
AJUSTES RESPONSIVE*/

@media (max-width: 400px) {

  /*WidgetBase-settings*/

   .container {
   width: 300px;
  }

  /*Brand-settings*/

  .logoContainer {
    width: 140px;
    height: 140px;
    transform: scale(150%)
               translateX(-25%);

  }

  .socialContainer{
    width: 40%;
    height: 100%;
    flex-direction: column;
    transform: translateX(-1%);
  }

  #title{
    font-size: 100%;
    transform: translateX(20%)
               translateY(-10%);
  }

  .cont1{
    transform: scale(70%)
               translateX(-15%)
               translateY(-40%);
  }
}

